
spark-shell \
  --jars /opt/iceberg/jars/iceberg-spark-runtime-3.5_2.12-1.5.0.jar,/opt/iceberg/jars/postgresql-42.7.3.jar,/opt/hadoop/jars/aws-java-sdk-bundle-1.11.901.jar,/opt/hadoop/jars/hadoop-aws-3.3.4.jar \
  --conf spark.sql.catalog.iceberg=org.apache.iceberg.spark.SparkCatalog \
  --conf spark.sql.catalog.iceberg.catalog-impl=org.apache.iceberg.jdbc.JdbcCatalog \
  --conf spark.sql.catalog.iceberg.uri=jdbc:postgresql://192.168.141.3:5432/iceberg_catalog \
  --conf spark.sql.catalog.iceberg.warehouse=s3a://iceberg-data/iceberg_warehouse \
  --conf spark.sql.catalog.iceberg.user=sarkhanal \
  --conf spark.sql.catalog.iceberg.password=sarkhanal \
  --conf spark.hadoop.fs.s3a.endpoint=http://192.168.141.3:9100 \
  --conf spark.hadoop.fs.s3a.access.key=minioadmin \
  --conf spark.hadoop.fs.s3a.secret.key=minioadmin \
  --conf spark.hadoop.fs.s3a.path.style.access=true \
  --conf spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem



